## 김희진 - 가산동/논현동/역삼동

## 지상은 - 서교동/명동/삼성동

## 박소연 - 서초동/종로1234가동/압구정동

## 최윤서 - 성수동/여의도동

# 원본데이터셋 !!

In [2]:
import pandas as pd

In [8]:
kim2=pd.read_csv('가산동_논현동_역삼동_최종데이터셋_김희진.csv')
ji2=pd.read_csv('서교동_명동_삼성동_최종데이터셋_지상은.csv')
park2=pd.read_csv('서초동_종로1234가동_압구정동_최종데이터셋_박소연.csv')
choi2=pd.read_csv('성수동_여의도동_최종데이터셋_최윤서.csv')

In [9]:
kim2

,name,review,star,review_num,ave_star,label
0,인크커피 가산 플래그십 스토어,대형 카페 그잡채빵들이 너무 맛있다 커피 독특한데 맛남,4.0,400,4.4,0
1,인크커피 가산 플래그십 스토어,이 가격에 이 용량에 샷 싸장님 맘이라지만 ㅎㅎㅎ 한번 가본걸로 이만,2.0,62,2.1,1
2,인크커피 가산 플래그십 스토어,트리보러 가는 곳넓은데 사람 많음빵은 다 맛있었는데 오히려 커피는 아쉬움,4.0,25,4.1,0
3,인크커피 가산 플래그십 스토어,동네라 자주 가는데 어쩔땐 친절하고 어쩔땐 불친절하고 알바바이알바인듯 ㅋㅋㅋ 근데 ...,4.0,90,3.4,0
4,인크커피 가산 플래그십 스토어,카페 분위기는 좋으나 디저트 준비하는 곳에서 일하시는 여자 알바가 너무 싸가지 없어...,1.0,1,1.0,1
...,...,...,...,...,...,...
5806,콘체르토,웬만한 연주회 가는거 보다 나은거 같아요클래식음악과 대형스크린 대형스피커 어마무시한...,5.0,15,4.6,0
5807,콘체르토,음악 들으면서 커피나 와인을 마실 수 있으니 예술의 전당보다 오히려 낫다,5.0,2,5.0,0
5808,콘체르토,하우스와인 과자랑 치즈 안주가 나온다 클래식이 흘러나오는 따뜻한북카페,5.0,627,4.0,0
5809,콘체르토,마음에 들지 않는것을 찾기 어려운게 문제입니다,5.0,2,5.0,0
5810,바움,엉성한 느낌이 들기도 하지만 강남역에서 비교적 차분한 분위기의 화이트 톤 카페인텔리...,4.0,41,4.3,0

In [10]:
ji2

,name,review,star,review_num,ave_star,label
0,피오니 홍대점,케이크 맛이쑤여,5.0,13,4.7,0
1,피오니 홍대점,케이크가 특별히 엄청 맛있는지는 모르겠어요 평범한 딸케에요,4.0,64,4.5,0
2,피오니 홍대점,진쟈 맛있어요 사람 많아도 포장 추천 홀케이크 먹고싶다 ㅍ,5.0,215,4.6,0
3,피오니 홍대점,커피가 너무 맛없어요 ㅠㅠ 딸기케익은 여전한 맛입니다 매장 안에 화장실 있어서 편해요,4.0,73,3.9,0
4,피오니 홍대점,어쩌다 홍대 관광명소가 됐는데 웨이팅 고생하지말고 테이크아웃 추천딸기빙수는 시럽맛이...,3.0,45,4.6,1
...,...,...,...,...,...,...
10616,아리스타커피 선릉점,바나나케일 맛있어요,5.0,4,5.0,0
10617,아리스타커피 선릉점,쥬스종류가 다양하고 다 맛있었어요 무화과랑 바나나케일 넘나 맛남 안쪽 자리도 넓어서...,4.0,1,4.0,0
10618,아리스타커피 선릉점,무화과쥬스 존맛,5.0,6,3.2,0
10619,카페르뷰,점심시간에 가서 분 기다려서 음식 받음음식 맛도 쏘쏘 다신 안가려구요,1.0,6,3.0,1
10620,컴포즈커피 대치점,친절하고 샷도 바로 뽑아 바로 주시고요 텀블러쓰면 초콜렛 주십니다,5.0,36,3.8,0

In [11]:
park2=park2.drop(['Unnamed: 0'],axis=1)
park2=park2.rename(columns={'store_name':'name','id_count':'review_num','id_star':'ave_star','sentiment':'label'})
park2

,name,review,star,review_num,ave_star,label
0,프릳츠 양재점,의자가 심각하게 삐걱거려요위에 커피 올려 놓으면 엎지를 가능성,2.0,54,2.4,1
1,프릳츠 양재점,블루베리 파이 맛집,5.0,186,4.8,0
2,프릳츠 양재점,진짜 진짜 불친절 했음,1.0,5,2.6,1
3,프릳츠 양재점,커피 맛집 인줄 알았는데 빵 맛집 입니다,5.0,5,4.4,0
4,프릳츠 양재점,맛있어요,5.0,18,3.2,0
...,...,...,...,...,...,...
9169,설빙 가로수길점,메론빙수가 다르게 나와요 훨씬 양이 적으네요 ㅜ그리고 매장내 먹어도 플라스틱 수저로...,1.0,26,2.8,1
9170,설빙 가로수길점,글 쓰고 별도 아까움 양아치들이 장사하러 온듯,1.0,5,2.0,1
9171,설빙 가로수길점,사장님 말투가 정말 별로네요정말 다신 오고싶지 않아요,1.0,2,3.0,1
9172,설빙 가로수길점,일점이 아까울 수도 있네요,1.0,3,3.7,1
9173,설빙 가로수길점,설빙이 어케 점이지 뭐가 다르겠어하고 갔다가 왜 점인지 알겠다 빙수 잘못나왔는데 ...,1.0,42,3.7,1

In [12]:
choi2=choi2.rename(columns={'positive?':'label'})
choi2

,name,review,star,review_num,ave_star,label
0,블루보틀 성수 카페,커피 맛도 그저 그렇고 분위기도 인상 깊지 않아서 아쉬웠음,3.0,15,4.7,1
1,블루보틀 성수 카페,커피는 뭐 딱히 안찍었고 굿즈가 진짜 너무 비쌈 커피는 맛있음,4.0,83,3.7,0
2,블루보틀 성수 카페,맛있고 친절해욘,4.0,31,3.6,0
3,블루보틀 성수 카페,뭐 얼마나 그렇게 비싼거 먹었다고 고나리질하는 댓글들만 가득한지 모르겠네요매장이 바...,5.0,1,5.0,0
4,블루보틀 성수 카페,오후 시에 갔는데 자리가 없을정도로 자리도 별로 없고 사람이 붐비지만 커피는 굿굿 ...,4.0,97,4.6,0
...,...,...,...,...,...,...
7442,설빙 노량진점,노량진점 설빙 진짜별로네요 최악이에요 고객한테 대하는 전화 말투법이 상당히 거칠고 ...,1.0,2,1.0,1
7443,설빙 노량진점,배달 시켰는데 다른 지점보다 양이 많아서 놀람,5.0,29,4.2,0
7444,설빙 노량진점,맛잇음 다른 설빙 가게들보다 양도 많은거 같고,4.0,10,1.9,0
7445,설빙 노량진점,체육관 개와 포켓스탑 개 잡힘영등포 설빙은 시설도 빙수 퀄리티도 최악인데 여기는 ...,4.0,318,3.4,0
7446,설빙 노량진점,학생들을 위한 배려인건지는 모르겠으나 설빙 다른 지점보다 토핑이나 재료를 후하게 얹...,4.0,26,3.3,0

In [17]:
df_labelling=pd.concat([kim2,ji2,park2,choi2],ignore_index=True)

In [18]:
df_labelling

,name,review,star,review_num,ave_star,label
0,인크커피 가산 플래그십 스토어,대형 카페 그잡채빵들이 너무 맛있다 커피 독특한데 맛남,4.0,400,4.4,0
1,인크커피 가산 플래그십 스토어,이 가격에 이 용량에 샷 싸장님 맘이라지만 ㅎㅎㅎ 한번 가본걸로 이만,2.0,62,2.1,1
2,인크커피 가산 플래그십 스토어,트리보러 가는 곳넓은데 사람 많음빵은 다 맛있었는데 오히려 커피는 아쉬움,4.0,25,4.1,0
3,인크커피 가산 플래그십 스토어,동네라 자주 가는데 어쩔땐 친절하고 어쩔땐 불친절하고 알바바이알바인듯 ㅋㅋㅋ 근데 ...,4.0,90,3.4,0
4,인크커피 가산 플래그십 스토어,카페 분위기는 좋으나 디저트 준비하는 곳에서 일하시는 여자 알바가 너무 싸가지 없어...,1.0,1,1.0,1
...,...,...,...,...,...,...
33048,설빙 노량진점,노량진점 설빙 진짜별로네요 최악이에요 고객한테 대하는 전화 말투법이 상당히 거칠고 ...,1.0,2,1.0,1
33049,설빙 노량진점,배달 시켰는데 다른 지점보다 양이 많아서 놀람,5.0,29,4.2,0
33050,설빙 노량진점,맛잇음 다른 설빙 가게들보다 양도 많은거 같고,4.0,10,1.9,0
33051,설빙 노량진점,체육관 개와 포켓스탑 개 잡힘영등포 설빙은 시설도 빙수 퀄리티도 최악인데 여기는 ...,4.0,318,3.4,0
33052,설빙 노량진점,학생들을 위한 배려인건지는 모르겠으나 설빙 다른 지점보다 토핑이나 재료를 후하게 얹...,4.0,26,3.3,0

In [19]:
df_labelling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33053 entries, 0 to 33052
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        33053 non-null  object
 1   review      33053 non-null  object
 2   star        33053 non-null  float64
 3   review_num  33053 non-null  object
 4   ave_star    33053 non-null  float64
 5   label       33053 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.5+ MB

In [20]:
df_labelling.to_csv('df_labelling.csv',encoding='utf-8-sig',index=False)